*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 10px;
}
.navbar{
    font-size: 25px;
    height: 10vh;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    border-left: 7px solid #8b0000;
    border-bottom: 3px solid #8b0000;
}
.navbar ul{
    height: 10vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li{
    padding: 20px
}
.navbar ul li:hover{
    background-color: #8b0000;
    border-top: 2px solid white;
}
.navbar ul li ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-top: 25px;
}
.navbar ul li ul{
    display: none;
}
.navbar ul li ul li{
    background-color: #eeeeee;
    border-bottom: 1px solid #bebebe;
}
.navbar ul li:hover > ul{
    display: block; 
}